@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html,
#root {
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden !important;
    font-family: "Nunito", sans-serif !important;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sectionDiv {
    transition: width 2s !important;
}

.scroll-body::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.scroll-body::-webkit-scrollbar-track {
    background: #1C1C27;
}

/* Handle */
.scroll-body::-webkit-scrollbar-thumb {
    background: #3B3B54;
}

/* Handle on hover */
.scroll-body::-webkit-scrollbar-thumb:hover {
    background: #7F7F98;
}